In [4]:
### [Q.1] Explain with an example each when to use a for loop and a while loop.

In [ ]:
## example of for loop
# 1. where  i consider a list
# 2. then use a for loop that iterate every element in list

In [2]:
l=[1,2,33,44,35,5,5436,68,89,67]
for i in l:
    print(i)

1
2
33
44
35
5
5436
68
89
67

In [ ]:
# iterate same list but use while loop
# here same out put by useing while loop

In [2]:
l=[1,2,33,44,35,5,5436,68,89,67]
i=0
while i<=len(l)-1:
    print(l[i])
    i=i+1

1
2
33
44
35
5
5436
68
89
67

In [4]:
# [Q.2] write a python program to print the sum and product of the first 10 natural numbers using for and whhile loop

In [5]:
                # for loop      find [sum] of first 10 natural numbers:

In [17]:
n=list(range(1,11))
sum=0
for i in n:
    sum=sum+i
sum

55

In [16]:
                                # find [product]  of first 10 natural numbers:

In [18]:
n=list(range(1,11))
product=1
for i in n:
    product=product*i
product

3628800

In [19]:
   # while loop                  sum of first 10 natural numbers

In [20]:
n=int(input("enter your limit:-"))
sum=0
counter=1
while counter<=n:
    sum=sum+counter
    counter=counter+1
sum

enter your limit:- 10

55

In [ ]:
                              # product

In [21]:
n=list(range(1,11))
product=1
counter=1
while counter<=len(n):
    product=product*counter
    counter=counter+1
product

3628800

In [ ]:
# [Q.3] calculate electricity bill:

In [1]:
unit=eval(input("enter your consumed units:-"))
if unit<=100:
    print('this is your bill',"=", unit*4.5 )
elif unit>100 and unit<=200:
    print('this is your bill',"=", 450+((unit-100)*6))
elif unit>200 and unit<=300:
    print("this is your bill","=", 1050+((unit-200)*10))
else:
    print("this is your bill","=", 2050+((unit-300)*20))

enter your consumed units:- 310

this is your bill = 2250

In [2]:
# Q.4                            for loop

In [1]:
l=list(range(1,101,1))
l1=[]
for i in l:
    if i**3%5==0:
        l1.append(i)
l1

[5,
 10,
 15,
 20,
 25,
 30,
 35,
 40,
 45,
 50,
 55,
 60,
 65,
 70,
 75,
 80,
 85,
 90,
 95,
 100]

In [ ]:
#               while loop

In [5]:
l2=[]
counter=1
while counter<=100:
    if counter**3%5==0:
        l2.append(counter)
    counter=counter+1
l2

[5,
 10,
 15,
 20,
 25,
 30,
 35,
 40,
 45,
 50,
 55,
 60,
 65,
 70,
 75,
 80,
 85,
 90,
 95,
 100]

In [ ]:
# Q.5

In [6]:
string=" i want to become a data scientist"
vowels=0
for char in string:
    if char.lower() in "aeiou":
        vowels=vowels+1
print("numbers of vowels:", vowels)

numbers of vowels: 12