In [1]:
### Q.1 Create a python program to sort the given list of tuples based on integer value using a lambda function

In [2]:
            ### [("sachin tendulkar",34357),("ricky ponting",27483),("jack kallis",25534),("virat kohli", 24936)]

In [3]:
list=[("sachin",34357),("virat",24936),("ponting",27483),("jack",25534),]

In [4]:
sort_data= sorted(list, key=lambda i: i[1])
print(sort_data)

[('virat', 24936), ('jack', 25534), ('ponting', 27483), ('sachin', 34357)]

In [5]:
#### Q.2 write a python programe to find the squares of all the numbers in the given list of integers using lambda and map function
              ### [1,2,3,4,5,6,7,8,9,10]

In [6]:
 m= [1,2,3,4,5,6,7,8,9,10]

In [7]:
list(map(lambda x : x**2 ,m))

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [8]:
### Q.3   write a python program to convert the given list of integers in to a tuple of string. Use map and lamda function
          # given list =[1,2,3,4,5,6,7,8,9,10]  expected out put ("1","2","3","4","5","6","7","8","9","10")

In [9]:
list_num=[1,2,3,4,5,6,7,8,9,10]

In [10]:
 tuple(map(lambda i : str(i), list_num))

('1', '2', '3', '4', '5', '6', '7', '8', '9', '10')

In [11]:
### Q.4  write a python program using reduce function to compute the product of a list containing numbers from 1 to 25

In [12]:
numbers = list(range(1,26))
print(numbers)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25]

In [13]:
l1=[i for i in range(1, 26)]
print(l1)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25]

In [14]:
from functools import reduce

In [15]:
reduce(lambda x , y : x*y , l1)

15511210043330985984000000

In [16]:
### Q.5 Write a python program to filter the numbers in a given list that are divisible by 2 and 3 using the filter function
        #[2,3,6,9,27,60,90,120,55,46]

In [17]:
 
list_numbers=[2,3,6,9,27,60,90,120,55,46]
list(filter(lambda x : x%2 ==0 and x%3 ==0 ,list_numbers))

[6, 60, 90, 120]

In [18]:
### Q.6 write a python program to find palindromes in the given list of string using lambda and filter function.
        # ["python","php","aba","radar","level"]

In [19]:
words_list=["python","php","aba","radar","level"]
palindromes_words= list(filter( lambda i : i == i[::-1], words_list))
print(palindromes_words)

['php', 'aba', 'radar', 'level']